.header {
  .header-top {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    img {
      width: 20px;
      margin: 0 7px;
    }
    .auth-dropdown {
      background-color: white;
      border: none;
      padding: 0;

      &::before {
        display: none;
      }
      .dropUserIcon {
        font-size: 1.5rem;
      }
    }
    .shopingBasket {
      font-size: 1.4rem;
      color: black;
      margin-right: 5px;
      margin-left: 10px;
      margin-top: -5px;
    }
  }
  .header-bottom {
    display: flex;
    justify-content: center;
    img {
      width: 20rem;
    }
  }
}
