.landing {
  width: 100%;

  .banner {
    img {
      width: 100%;
    }

    margin-bottom: 50px;
  }
  .categories {
    display: flex;
    flex-wrap: wrap;

    .categories-item {
      width: 50%;
      padding: 0.5rem;

      img {
        width: 100%;
      }
    }
  }
  .topSalesContainer {
    margin-top: 2rem;

    .topSales-title {
      margin-bottom: 0;
    }
    .topSales {
      padding: 0.5rem;
    }
  }
}

@media (max-width: 768px) {
  .landing {
    .categories {
      .categories-item {
        width: 100%;
      }
    }
  }
}
