.login-form {
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
}
.modal-content {
  padding: 10px;
  .modal-header {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    border: none;
    .modal-header-btn {
      padding: 5px;
      font-size: 2rem;
      line-height: 0;
    }
  }
  .modal-body {
    text-align: center;
    padding-top: 0;
  }
}
