.jewelry-show-carousel {
  width: 100%;
  img {
    width: 100%;
  }
}
.jewelry-show-btns {
  .jewelry-show-btn {
    color: black;
  }
}
.jewelry-show-main-desc {
  .jewelry-show-inStock {
    color: #808080;
  }
  .table {
    td,
    th {
      padding: 15px 0;
    }
  }
}
