.jewelry-show-carousel {
  width: 100%;
  img {
    object-fit: cover;
  }
}
.jewelry-show-btns {
  .jewelry-show-btn {
    color: black;
  }
}
.jewelry-show-main-desc {
  .jewelry-show-inStock {
    color: #808080;
  }
  .jewelry-show-basket {
    .btn-group {
      input {
        width: 50px;
        text-align: center;
      }
      button.btn.btn-secondary.basket-btn {
        padding: 0;
        font-size: 2rem;
        width: 50px;
      }
    }
  }
  .table {
    td,
    th {
      padding: 15px 0;
    }
  }
}
